.c1{
	border:solid;
	height:80px;

}
.c2{

	height:650px;

	margin-top:30px;
	
	border:solid;	
}
.c3{
	height:650px;
	margin-top:30px;
	border:solid;
}
.c4{
	height:80px;
	margin-top:730px;
	border:solid;
}